<div class="edit-note-wrapper container has-blurred-white-bg">
  <h2 class="is-bold">Edit Note</h2>
  <p *ngIf="!note">Form Not Found!</p>
  <form #form="ngForm" (ngSubmit)="onFormSubmit(form)" *ngIf="note">
    <div class="form-field">
      <input
        [ngModel]="note.title"
        #titleField="ngModel"
        name="title"
        class="textbox"
        type="text"
        placeholder="Enter Note Title...."
        required
        minlength="3"
      />
      <!-- <ng-container *ngIf="titleField.invalid">
        <p *ngIf="titleField.errors?.required">Please Enter a Value</p>
        <p *ngIf="titleField.errors?.minlength">Insert Atlease 3 Characters</p>
      </ng-container> -->
    </div>
    <div class="form-field">
      <textarea
        [ngModel]="note.content"
        name="content"
        class="textarea"
        placeholder="Enter Note Content...."
      ></textarea>
    </div>
    <div class="btns-container">
      <a routerLink="../" class="btn">Cancel</a>
      <button class="btn" (click)="deleteNote()">Delete</button>
      <button class="btn align-end">Create Note</button>
    </div>
  </form>
</div>
