.anilist-search-wrapper {
  max-height: 100%;
  overflow: auto;
  padding: 35px;
  border-radius: 5px;
}

.ng-autocomplete {
  width: 100%;
}

.animes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6px;
  padding-top: 10px;
  .anime {
    display: flex;
    padding: 6px;
    background-color: white;
    margin-bottom: 6px;
    img {
      width: 80px;
    }
    .anime-info {
      padding: 2px 6px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      h6 {
        font-size: 15px;
        margin-bottom: 5px;
        font-weight: bold;
        line-height: 1.2em;
        max-height: 2.4em;
        text-overflow: ellipsis;
        overflow: hidden;
      }
      p {
        font-size: 12px;
        font-weight: bold;
      }
      p-tag {
        margin-right: 5px;
      }
      a {
        color: white;
      }
      .anime-btns {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}
