<div class="anilist-search-wrapper container has-blurred-white-bg">
  <div class="ng-autocomplete">
    <ng-autocomplete
      [data]="list2"
      [searchKeyword]="keyword"
      placeholder="Enter the State Name"
      [itemTemplate]="itemTemplate"
      [focusFirst]="true"
      [notFoundTemplate]="notFoundTemplate"
      (inputChanged)="getSuggestions($event)"
      (selected)="selectedItem($event)"
    >
    </ng-autocomplete>

    <ng-template #itemTemplate let-item>
      <div class="item">
        <span [innerHTML]="item.title"></span>
      </div>
    </ng-template>

    <ng-template #notFoundTemplate let-notFound>
      <div [innerHTML]="notFound"></div>
    </ng-template>
  </div>

  <div class="animes">
    <div class="anime" *ngFor="let anime of list">
      <img [src]="anime.coverImage.medium" [alt]="anime.title.english" />
      <div>
        <h6 class="is-bold">
          {{ anime.title.english ? anime.title.english : anime.title.romaji }}
        </h6>
        <p>
          EP:
          {{ anime.progress }}
        </p>
        <p *ngIf="anime.airingAt">
          Next Ep: {{ anime.airingAt | multi | date: "HH:mm, d/MM" }}
        </p>
      </div>
    </div>
  </div>
</div>
