/* You can add global styles to this file, and also import other style files */

@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

@import url("https://fonts.googleapis.com/css?family=Material+Icons+Outlined|Material+Icons");

html {
  font-family: "Inter", sans-serif;
  color: #222;
}

html,
body {
  height: 100%;
}

h1 {
  font-size: 38px;
}

h2 {
  font-size: 30px;
  margin-bottom: 25px;
}

h1.is-bold,
h2.is-bold {
  font-weight: bold;
  letter-spacing: -2px;
}

a {
  text-decoration: none;
}

.container {
  max-width: 750px;
  margin: auto;
}

.btn {
  display: inline-flex;
  align-items: center;
  padding: 10px;
  background-color: rgba(black, 0.7);
  color: white;
  font-size: 18px;
  font-weight: 600;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  font-family: inherit;
  border: none;
  &:hover {
    background-color: rgba(black, 0.78);
    backdrop-filter: blur(2px);
  }
  &:active {
    background-color: rgba(black, 0.85);
  }
}
.btns-container {
  display: flex;
  gap: 8px;
  margin-top: 20px;
  &.btns-centered {
    justify-content: center;
  }
  .align-end {
    margin-left: auto;
  }
}

.has-blurred-white-bg {
  background-color: rgba(white, 0.85);
  backdrop-filter: blur(20px);
}

.form-field {
  margin-bottom: 20px;
  label.form-label {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
    color: rgba(black, 0.8);
  }
}

.textbox,
.textarea {
  font-size: 18px;
  font-family: inherit;
  border: 2px solid rgba(black, 0.3);
  border-radius: 4px;
  background-color: rgba(white, 0.9);
  padding: 8px 10px;
  width: 100%;
  margin-bottom: 0;
  &:hover {
    background-color: rgba(white, 0.95);
  }
  &:focus {
    background-color: white;
    outline: none;
  }
  &:hover,
  &:focus {
    border-color: rgba(black, 0.42);
  }
}

.textarea {
  resize: vertical;
  min-height: 100px;
}
